<% include ./partials/header %>



<!-- PUT ALL THE HTML STUFF FROM HERE -->



<h1>Quick Ma Get the Camera</h1>

<h2>
	<em>I'm doing the computer stuffs</em>
</h2>

<a href="/secondPage">This is a link!</a>



<!-- TO HERE -->
   



<% include ./partials/footer %>
